$backgroundColor: linear-gradient(
  to bottom,
  #7db9e8 34%,
  #7db9e8 34%,
  #7db9e8 61%,
  #7db9e8 61%,
  #7db9e8 67%,
  #212121 100%
);

$btnPrimaryBg: #bdcee5;
$btnSecondaryBg: #688ccb;
$btnThirdBg: #73add6;
$btnFourthBg: #64a88e;

$fontMain: 20px "Open Sans", sans-serif;

$hLARGE: 325px;
$hSMALL: 130px;

$btn-lg-font: 20px "Open Sans", sans-serif;
$btn-small-font: 14px "Open Sans", sans-serif;
$btn-radius-small: 5px;
$btn-radius-lg: 7px;
